<%- include header %>
<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
<%- include left %>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
            <ol class="breadcrumb">
                <li><a href="/">首页</a></li>
                <li><a href="/phenix">仓位管理</a></li>
                <li><a href="#">轮次管理</a></li>
            </ol>
            <div class="row" style="margin-left:10px">
                <button type="button" class="btn btn-success"  data-toggle="modal" data-target="#addTx">
                    <span class="glyphicon glyphicon-plus"></span> Add Round 
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>phenixId</th>
                        <th>level</th>
                        <th>award</th>
                        <th>totalInvest</th>
                        <th>goal</th>
                        <th>maxInvest</th>
                        <th>minInvest</th>
                        <th>reInvest</th>
                        <th>endBlock</th>
                        <th>deployState</th>
                        <th>reInvestRate</th>
                        <th>deployTime</th>
                        <th>Operate</th>
                    </tr>
                </thead>
                <tbody>

                <% roundlist.forEach(function(value){ %>
                <tr>
                    <td><%= value['phenix'] %></td>
                    <td><%= value['level'] %></td>
                    <td><%= value['award'] %></td>
                    <td><% if(value['totalInvest']){%>
                        <%= Number(value['totalInvest']/10**18).toFixed(4)%>
                        <% }else{ %>
                            0.0000
                        <% } %>
                     </td>
                     <td><% if(value['goal']){%>
                        <%= Number(value['goal']/10**18).toFixed(4)%>
                        <% }else{ %>
                            0.0000
                        <% } %>
                     </td>
                     <td><% if(value['maxInvest']){%>
                        <%= Number(value['maxInvest']/10**18).toFixed(4)%>
                        <% }else{ %>
                            0.0000
                        <% } %>
                     </td>
                     <td><% if(value['minInvest']){%>
                        <%= Number(value['minInvest']/10**18).toFixed(4)%>
                        <% }else{ %>
                            0.0000
                        <% } %>
                     </td>
                     <td><% if(value['reInvest']){%>
                        <%= Number(value['reInvest']/10**18).toFixed(4)%>
                        <% }else{ %>
                            0.0000
                        <% } %>
                     </td>
                    <td><%= value['endBlock'] %></td>
                    <td>
                        <% if(value['deployState']==0){ %>
                            进行中
                        <% }else if(value['state']==1 ||value['deployState']==1){ %>
                            成功
                        <% }else if(value['state']==3 || value['deployState']==3){ %>
                            失败
                        <% }else{ %>
                            --
                        <% } %>
                    </td>
                    <td><%= value['reInvestRate'] %></td>
                    <td><% if(value['deployTime']){ %>
                        <%= new Date(value['deployTime']).getFullYear()+'-'+(new Date(value['deployTime']).getMonth()+1)+'-'+new Date(value['deployTime']).getDate() %>
                        <% }else{%>
                            0000-00-00
                        <% } %>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default" onclick="checkbtn('<%= value['phenix']%>','<%= value['level']%>')">
                            查看
                        </button>
                        <% if(value['deployState']!=2 && (value['deployState']==0 || !value['state'])){ %>
                            <button type="button" class="btn btn-primary" onclick="add_startNextRound('<%= value['_id']%>')">
                                开启
                            </button>
                        <% }else if(value['state']==1 ||value['state']==3 || value['deployState']==1 ||value['deployState']==3){ %>
                                <button type="button" class="btn btn-default" data-dismiss="modal" disabled="disabled">
                                已结束
                            </button>
                        <% }else if(value['deployState']==2 && value['state']==null) {%>
                            <button type="button" class="btn btn-default" data-dismiss="modal" disabled="disabled">
                                开启中
                            </button>
                        <% }else if(value['deployState']==5){ %>
                            <button type="button" class="btn btn-primary" onclick="add_startNextRound('<%= value['_id']%>')">
                                重新开启
                            </button
                        <% }else {%>
                            <button type="button" class="btn btn-default" data-dismiss="modal" disabled="disabled">
                                已开启
                                </button>
                                <button type="button" class="btn btn-warning" onclick="add_currentRoundSucceed('<%= value['_id']%>')">
                                        结束
                                </button> 
                        <% } %>

                       </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
            
        </div>
        <div class="col-lg-12 text-center">
                <ul class="pagination">
                    <%- include page %>
                </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="addTx" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加Round 
                </h4>
                <h4 style="color:red" id="errortip"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" >
                    <input name="phenixId" id="phenixId" class="form-contol" type="hidden" value="<%= phenixId %>"/>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">maxInvest : </label>
                        <div class="col-sm-8">
                            <input name="maxInvest" id="maxInvest" type="number" class="form-contol" placeholder="maxInvest" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">minInvest : </label>
                        <div class="col-sm-8">
                            <input name="minInvest" id ="minInvest" type="number" class="form-contol" placeholder="minInvest" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">当前区块高度 : </label>
                        <div class="col-sm-8" >
                            <span class = "current_number"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">endBlock : </label>
                        <div class="col-sm-8">
                            <input name="endBlock" id = "endBlock" type="number" class="form-contol" placeholder="大于当前区块高度" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">reInvestRate : </label>
                        <div class="col-sm-8">
                            <input name="reInvestRate" id="reInvestRate" type="number" class="form-contol" placeholder="reInvestRate"/>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <button name="submit" class="btn btn-primary" onclick="checkParms()">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="findSms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <textarea  id="messageid" rows="15" cols="77">
                            </textarea>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="change_endblock"/>
<div class="modal fade" id="testmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <p style="font-size: 20px" id="modaltext">
                    仓位创建中...
                </p>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="setblockmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <h4>EndBlock小于当前区块，请重新设置</h4>
                <span>当前区块高度 :</span>
                <span class="current_number"></span><br/>
                <span>New EndBlock:</span>
                <input style="margin: 20px; border-radius: 7px;background: #e2dbdb;" name="newblock" type="number" id="newblock" type="number" />
                <p>
                    <button class="btn btn-default" onclick="setNewBlock()">确认</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                </p> 
                
            </div>
        </div>
    </div>
</div>
<%- include footer %>
<script type="text/javascript">
  $(document).ready(function(){
    axios.get("/latest_blocknumber",{}).then(function(res){
        let numbers = res.data.resp
        $(".current_number").text(numbers);
    }) 
  })
  setInterval(function(){
    axios.get("/latest_blocknumber",{}).then(function(res){
        let numbers = res.data.resp
        $(".current_number").text(numbers);
    })
  },5000)
  function checkParms(block){
     let maxInvest = $("#maxInvest").val();
     let minInvest = $("#minInvest").val();
     let reInvestRate = $("#reInvestRate").val();
     let endBlock = $("#endBlock").val();
     let phenixId = $("#phenixId").val();
     $.get("/latest_blocknumber",{}).then(function(res){
        let block = Number(res.resp);
        if(maxInvest && maxInvest>0&& minInvest && minInvest>0 && reInvestRate && endBlock && endBlock>block){
            axios.post("/add_anounceNextRound",{
                "phenixId":phenixId,
                "endBlock":endBlock,
                "maxInvest":maxInvest,
                "minInvest":minInvest,
                "reInvestRate":reInvestRate
            }).then(function(res){
                if(res.data.resp!="success"){
                    $("#errortip").html(res.data.resp) 
                    return false;
                }
                window.location.href="/round?phenixId="+phenixId
            })
        }else{
            $("#errortip").html("endBlock 不能小于当前区块 或者 参数不为空")
             return false;
        }
    }) 
}
function add_startNextRound (id){
    let phenixId = $("#phenixId").val();
    axios.post('/add_startNextRound',{"id":id}).then(function (res){
        if(res.data.resp=='success'){
            window.location.href="/round?phenixId="+phenixId 
        }else if(res.data.resp=='change_endblock'){
           
            $("#change_endblock").val(id);
            $("#setblockmodal").modal("toggle")
            return;
        }else{
            $("#modaltext").html(res.data.resp)
           $("#testmodal").modal("toggle")
        }
        
    })
}
function add_currentRoundSucceed(id){
    let phenixId = $("#phenixId").val();
    axios.post('/add_currentRoundSucceed',{"id":id,"phenixId":phenixId}).then(function (res){
        if(res.data.resp=='success'){
            window.location.href="/round?phenixId="+phenixId
        }else{
             $("#modaltext").html(res.data.resp)
           $("#testmodal").modal("toggle")
        }
        
    }) 
}
function setNewBlock(){
    let phenixId = $("#phenixId").val();
    let block = $("#newblock").val()
    let id = $("#change_endblock").val()
    axios.post("/update_block",{
        "endBlock":block,
        "id":id}).then(function(res){
            console.log(res.data)
        if(res.data.resp=="success"){
            window.location.href="/round?phenixId="+phenixId
        }
    })
}
function checkbtn(phenixId,level){
  
    window.location.href="/award?phenixId="+phenixId+"&level="+level;
}
</script>
