<%- include header %>
<div class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row">
<%- include left %>
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
            <ol class="breadcrumb">
                <li><a href="#">首页</a></li>
                <li><a href="/phenix">仓位管理</a></li>
                <li><a href="#">轮次管理</a></li>
            </ol>
            <div class="row" style="margin-left:10px">
                <button type="button" class="btn btn-success" onclick="addbtn()" data-toggle="modal" data-target="#addTx">
                    <span class="glyphicon glyphicon-plus"></span> Add Round 
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>phenixId</th>
                        <th>level</th>
                        <th>totalInvest</th>
                        <th>goal</th>
                        <th>maxInvest</th>
                        <th>minInvest</th>
                        <th>reInvest</th>
                        <th>endBlock</th>
                        <th>deployState</th>
                        <th>reInvestRate</th>
                        <th>deployTime</th>
                        <th>Operate</th>
                    </tr>
                </thead>
                <tbody>
                
                <% roundlist.forEach(function(value){ %>
                <tr>
                    <td><%= value['phenix'] %></td>
                    <td><%= value['level'] %></td>
                    <td><%= value['totalInvest'] %></td>
                    <td><%= value['goal'] %></td>
                    <td><%= value['maxInvest'] %></td>
                    <td><%= value['minInvest'] %></td>
                    <td><%= value['reInvest'] %></td>
                    <td><%= value['endBlock'] %></td>
                    <td>
                        <% if(value['deployState']==0){ %>
                            进行中
                        <% }else if(value['deployState']==1){ %>
                            成功
                        <% }else if(value['deployState']==2){ %>
                            可提款
                        <% }else if(value['deployState']==3){ %>
                            失败
                        <% }else{ %>
                            待开启
                        <% } %>
                    </td>
                    <td><%= value['reInvestRate'] %></td>
                    <td><% if(value['deployTime']){ %>
                        <%= new Date(value['deployTime']).getFullYear()+'-'+new Date(value['deployTime']).getMonth()+'-'+new Date(value['deployTime']).getDate() %>
                        <% }else{%>
                            0000-00-00
                        <% } %>
                    </td>
                    <td>
                                <% if(value['deployState']==0){ %>
                                    <button type="button" class="btn btn-warning" onclick="add_startNextRound('<%= value['_id']%>')">
                                        开启
                                    </button>
                                <% }else if(value['deployState']==1 ||value['deployState']==3){ %>
                                        <button type="button" class="btn btn-warning" disabled="disabled">
                                        已结束
                                    </button>
                                <% }else { %>
                                    <button type="button" class="btn btn-warning" disabled="disabled">
                                        已开启
                                        </button>
                                            <button type="button" class="btn btn-warning" onclick="add_currentRoundSucceed('<%= value['_id']%>')">
                                                结束
                                        </button> 
                                <% } %>

                       </td>
                </tr>
                <% }) %>
                </tbody>
            </table>
            
        </div>
        <div class="col-lg-12 text-center">
                <ul class="pagination">
                    <%- include page %>
                </ul>
        </div>
    </div>
</div>

<div class="modal fade" id="addTx" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    添加Round 
                </h4>
                <h4 style="color:red" id="errortip"></h4>
            </div>
            <div class="modal-body">
                <div class="form-horizontal" role="form" >
                    <input name="phenixId" id="phenixId" class="form-contol" type="hidden" value="<%= phenixId %>"/>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">maxInvest : </label>
                        <div class="col-sm-8">
                            <input name="maxInvest" id="maxInvest" type="number" class="form-contol" placeholder="maxInvest" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">minInvest : </label>
                        <div class="col-sm-8">
                            <input name="minInvest" id ="minInvest" type="number" class="form-contol" placeholder="minInvest" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">current_Block : </label>
                        <div class="col-sm-8" id="current_number">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">endBlock : </label>
                        <div class="col-sm-8">
                            <input name="endBlock" id = "endBlock" type="number" class="form-contol" placeholder="endBlock" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-4 control-label">reInvestRate : </label>
                        <div class="col-sm-8">
                            <input name="reInvestRate" id="reInvestRate" type="number" class="form-contol" placeholder="reInvestRate"/>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <button name="submit" class="btn btn-primary" onclick="checkParms()">提交</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="findSms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <textarea  id="messageid" rows="15" cols="77">
                            </textarea>
            </div>
        </div>
    </div>
</div>
<%- include footer %>
<script type="text/javascript">
  $(document).ready(function(){
    $.get("/latest_blocknumber",{}).then(function(res){
        $("#current_number").html(res.resp);
    }) 
  })
  setInterval(function(){
    $.get("/latest_blocknumber",{}).then(function(res){
        $("#current_number").html(res.resp);
    })
  },5000)
  function checkParms(block){
     let maxInvest = $("#maxInvest").val();
     let minInvest = $("#minInvest").val();
     let reInvestRate = $("#reInvestRate").val();
     let endBlock = $("#endBlock").val();
     let phenixId = $("#phenixId").val();
     $.get("/latest_blocknumber",{}).then(function(res){
        let block = Number(res.resp);
        if(maxInvest && maxInvest>0&& minInvest && minInvest>0 && reInvestRate && endBlock && endBlock>block){
            axios.post("/add_anounceNextRound",{
                "phenixId":phenixId,
                "endBlock":endBlock,
                "maxInvest":maxInvest,
                "minInvest":minInvest,
                "reInvestRate":reInvestRate
            }).then(function(){
                
                window.location.href="/round?phenixId="+phenixId
            })
        }
        $("#errortip").html("endBlock 不能小于当前区块 或者 参数不为空")
        return false;
        
    }) 
}
function add_startNextRound (id){
    let phenixId = $("#phenixId").val();
    axios.post('/add_startNextRound',{"id":id}).then(function (res){
        window.location.href="/round?phenixId="+phenixId 
    })
}
function add_currentRoundSucceed(id){
    let phenixId = $("#phenixId").val();
    axios.post('/add_currentRoundSucceed',{"id":id,"phenixId":phenixId}).then(function (res){
        window.location.href="/round?phenixId="+phenixId 
    }) 
}
</script>
